@use "./font" as *;
@use "./colors" as *;
@use "./layout" as *;

.nav-bar {
  background-color: $bandsite-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 5.438rem;
  }
  &__logo {
    color: $white;
    text-decoration: none;
    font-size: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      padding-left: 2.25rem;
      font-size: 1.25rem;
      padding-bottom: 1rem;
    }
  }
  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    @media screen and (min-width: 768px) {
      width: auto;
      margin-top: 1rem;
    }
  }
  &__link {
    color: $mercury;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0, auto;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 0.65rem;
      padding-bottom: 1rem;
      margin-left: 3rem;
    }
  }
  &__link:active {
    color: $white;
    font-weight: 600;
    border-bottom: 0.25rem solid $white;
  }
  &__link:hover {
    color: $white;
    border-bottom: 0.25rem solid $white;
  }
}

.footer {
  &__container {
    background-color: $bandsite-black;
    color: $white;
    @media screen and (min-width: 1280px) {
      padding-left: 5.438rem;
    }
  }
  &__tblt-dt {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &__card {
    @include layout;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      position: relative;
    }
    &--cam {
      @include layout;
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
      }
    }
    &--pearl {
      @include layout;
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 3rem;
      }
    }
    &--carson {
      @include layout;
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: 0;
      }
    }
  }
  &__header {
    @include section-header;
    @include padding-headline;
  }
  &__icons {
    display: inline-flex;
    width: 45%;
    @media screen and (min-width: 768px) {
      height: 100%;
      margin-top: 4rem;
      margin-left: 2rem;
    }
  }
  &__icons--link {
    margin-right: 2rem;
  }
  &__contact {
    @include footer-copy;
    font-weight: 600;
    padding-top: 1rem;
    @media screen and (min-width: 768px) {
      font-weight: 600;
      padding-top: 0;
    }
  }
  &__email {
    text-decoration: none;
    color: inherit;
    @include footer-copy;
  }
  &__email--last {
    text-decoration: none;
    color: inherit;
    @include footer-copy;
    padding-bottom: 4rem;
    display: flex;
    @media screen and (min-width: 768px) {
      padding-bottom: 1rem;
    }
  }
  &__contact--info-adr {
    @include footer-copy;
    @include padding-component;
    width: 10rem;
    @media screen and (min-width: 768px) {
      width: 12rem;
    }
  }
  &__contact--info {
    display: flex;
    flex-direction: column;
    @include padding-component;
  }
  &__contact--info-job {
    @include footer-copy;
  }
  &__contact--info-area {
    @include footer-copy;
  }
  &__logo {
    @include layout;
    text-decoration: none;
    font-size: 1.75rem;
    color: $white;
    @media screen and (min-width: 768px) {
      display: none;
    }
    &--tblt-dt {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
        text-decoration: none;
        font-size: 1.25rem;
        color: $white;
        position: absolute;
        top: 4rem;
        right: 0rem;
      }
      @media screen and (min-width: 1280px) {
        right: 6rem;
      }
    }
  }
  &__copyright {
    @include footer-copy;
    @include layout;
    @include padding-component;
  }
}
