@mixin padding-headline {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  @media screen and (min-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

@mixin padding-component {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media screen and (min-width: 768px) {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

@mixin padding-images {
  padding-bottom: 1rem;
  @media screen and (min-width: 768px) {
    padding-bottom: 2.25rem;
  }
}

@mixin layout {
  margin: 0 1rem;
  @media screen and (min-width: 768px) {
    margin: 0 2.25rem;
  }
  @media screen and (min-width: 1280x) {
    margin: 0 auto;
  }
}

@mixin page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}

@mixin section-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

@mixin subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}

@mixin body-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  @media screen and (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

@mixin footer-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  @media screen and (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

@mixin label-button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
