@use "./partials/reset" as *;
@use "./partials/global" as *;
@use "./partials/font" as *;
@use "./partials/colors" as *;
@use "./partials/layout" as *;

.hero {
  &__image {
    background-image: url(../assets/images/hero-bio.jpg);
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    @media screen and (min-width: 768px) {
      height: 55vw;
    }
    @media screen and (min-width: 1280px) {
      height: 45vw;
    }
  }
  &__text-box {
    position: relative;
    @media screen and (min-width: 768px) {
      padding-top: 3rem;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 0;
      margin: auto 5.438rem;
    }
  }
  &__text {
    color: $white;
    @include layout;
    @include page-header;
  }
  &__overlay {
    width: 100vw;
    height: 50vh;
    background: $bandsite-black;
    opacity: 0.5;
    position: absolute;
    @media screen and (min-width: 768px) {
      height: 55vw;
    }
    @media screen and (min-width: 1280px) {
      height: 45vw;
    }
  }
}

.about {
  &__header {
    @include section-header;
    @include layout;
    @include padding-headline;
    color: $bandsite-black;
    @media screen and (min-width: 1280px) {
      margin-left: 7.688rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include layout;
    color: $bandsite-black;
  }
  &__image {
    width: 100%;
    height: 50vw;
    @media screen and (min-width: 768px) {
      padding: 0rem 3.5rem;
      height: 40vw;
    }
    @media screen and (min-width: 1280px) {
      padding: 0rem 10.875rem;
    }
  }
  &__quote {
    @include subheader;
    @include padding-component;
    font-weight: 600;
    @media screen and (min-width: 768px) {
      padding-left: 3.5rem;
      padding-right: 2rem;
      font-weight: 600;
      padding-bottom: 0.5rem;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 10.875rem;
      width: 76%;
    }
  }
  &__quote--name {
    @include subheader;
    font-weight: 600;
    @media screen and (min-width: 768px) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-weight: 600;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 10.875rem;
      width: 78%;
    }
  }
}

.bio {
  &__header {
    @include layout;
    @include subheader;
    @include padding-headline;
    color: $bandsite-black;
    @media screen and (min-width: 768px) {
      padding-left: 3.5rem;
      padding-bottom: 1rem;
      font-weight: 600;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 10.875rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include layout;
    color: $bandsite-black;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 10.875rem;
    }
  }
  &__para--one {
    @include body-copy;
    @media screen and (min-width: 768px) {
      width: 48%;
    }
    @media screen and (min-width: 1280px) {
      width: 43%;
    }
  }
  &__para--two {
    @include body-copy;
    @include padding-component;
    @media screen and (min-width: 768px) {
      padding-top: 0;
      padding-left: 1.5rem;
      width: 52%;
    }
    @media screen and (min-width: 1280px) {
      width: 45%;
    }
  }
}

.gallery {
  background-color: $alabaster;
  &__header {
    @include section-header;
    @include layout;
    @include padding-headline;
    color: $bandsite-black;
    @media screen and (min-width: 1280px) {
      margin-left: 7.688rem;
    }
  }
  &__container {
    @include layout;
    @media screen and (min-width: 768px) {
      padding-bottom: 0.688rem;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 7.688rem;
      margin-right: 7.688rem;
    }
    &-row {
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
  }
  &__image {
    width: 100%;
    @include padding-images;
    @media screen and (min-width: 768px) {
      padding-bottom: 1.5rem;
      padding-right: 1.5rem;
      width: 33%;
    }
    &--last {
      width: 100%;
      @include padding-images;
      @media screen and (min-width: 768px) {
        padding-bottom: 1.5rem;
        width: 33%;
      }
    }
  }
}

.avatar__image {
  @include layout;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-size: cover;
  background-position: top left;
}

.comment {
  &__header {
    @include section-header;
    @include layout;
    @include padding-headline;
    color: $bandsite-black;
    @media screen and (min-width: 1280px) {
      margin-left: 7.688rem;
    }
  }
  &__container {
    display: flex;
  }
  &__card {
    @include layout;
    display: flex;
    flex-direction: column;
    width: 60%;
    &-name {
      display: flex;
      flex-direction: column;
    }
    &-text {
      display: flex;
      flex-direction: column;
    }
  }
  &__name {
    @include body-copy;
    border-radius: 4px;
    border: 1px solid $mercury;
    color: $bandsite-black;
    background-color: $alabaster;
  }
  &__text {
    @include body-copy;
    border-radius: 4px;
    border: 1px solid $mercury;
    color: $bandsite-black;
    background-color: $alabaster;
  }
}

::placeholder {
  @include body-copy;
  color: $bandsite-black;
}

label {
  @include label-button;
  color: $silver;
}
