html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alternative-fonts/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alternative-fonts/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative-fonts/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir";
}

.hero__image {
  background-image: url(../assets/images/hero-shows.jpg);
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__image {
    height: 55vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    height: 45vw;
  }
}
.hero__text-box {
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__text-box {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text-box {
    padding-top: 0;
    margin: auto 5.438rem;
  }
}
.hero__text {
  width: 15rem;
  color: #ffffff;
  margin: 0 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .hero__text {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 35rem;
  }
}
.hero__text--album {
  color: #ffffff;
  margin: 0 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__text--album {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .hero__text--album {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__text--album {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .hero__text--album {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__text--album {
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
  }
}
.hero__music {
  margin: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  height: 35vh;
}
@media screen and (min-width: 768px) {
  .hero__music {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .hero__music {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__music {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__music {
    width: 25rem;
    height: 12rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__music {
    position: relative;
    left: 40rem;
    bottom: 9rem;
    width: 25rem;
    height: 12rem;
  }
}
.hero__overlay {
  width: 100vw;
  height: 70vh;
  background: #323232;
  opacity: 0.5;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    height: 55vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    height: 45vw;
  }
}

.shows__main {
  color: #323232;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__main {
    padding-bottom: 1.5rem;
  }
}
.shows__header {
  margin: 0 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__header {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .shows__header {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__header {
    margin-left: 7.5rem;
  }
}
.shows__individual {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__individual {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .shows__individual {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .shows__individual {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .shows__individual {
    width: 60rem;
    justify-content: space-evenly;
    margin-left: 20rem;
  }
}
.shows__individual:hover {
  background-color: #fafafa;
}
.shows__individual-active {
  background-color: #e1e1e1;
}
.shows__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list {
    width: 60%;
  }
}
.shows__list-date {
  color: #afafaf;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .shows__list-date {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .shows__list-date {
    display: none;
  }
}
.shows__list-date--info {
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__list-date--info {
    padding-bottom: 0;
    width: 9rem;
  }
}
.shows__list-venue {
  color: #afafaf;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .shows__list-venue {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .shows__list-venue {
    display: none;
  }
}
.shows__list-venue--info {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__list-venue--info {
    padding-bottom: 0;
    width: 8rem;
  }
}
.shows__list-location {
  color: #afafaf;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .shows__list-location {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .shows__list-location {
    display: none;
  }
}
.shows__list-location--info {
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .shows__list-location--info {
    padding-bottom: 0;
  }
}
.shows__button {
  background: #323232;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  padding: 0.75rem 3rem 0.75rem 3rem;
  text-align: center;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .shows__button {
    padding: 0.75rem 2rem 0.75rem 2rem;
  }
}
.shows__button:hover {
  background: #000000;
}
.shows__divider {
  border-top: 1px solid #e1e1e1;
  display: flex;
}
@media screen and (min-width: 768px) {
  .shows__divider {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__divider {
    width: 55rem;
    margin-left: 23rem;
  }
}
.shows__list-tblt {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__list-tblt {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 1rem;
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 700;
    width: 25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .shows__list-tblt {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280x) {
  .shows__list-tblt {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .shows__list-tblt {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list-tblt {
    width: 60vw;
    margin-left: 24.5rem;
  }
}
.shows__list-tblt--date {
  color: #afafaf;
  font-weight: 600;
  margin-right: 18.5vw;
}
@media screen and (min-width: 1280px) {
  .shows__list-tblt--date {
    margin-right: 12.5rem;
  }
}
.shows__list-tblt--venue {
  color: #afafaf;
  font-weight: 600;
  margin-right: 15.25vw;
}
@media screen and (min-width: 1280px) {
  .shows__list-tblt--venue {
    margin-right: 11rem;
  }
}
.shows__list-tblt--location {
  color: #afafaf;
  font-weight: 600;
}/*# sourceMappingURL=shows.css.map */