html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alternative-fonts/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alternative-fonts/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative-fonts/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir";
}

.nav-bar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar {
    padding-left: 5.438rem;
  }
}
.nav-bar__logo {
  height: 1.25rem;
  width: 7.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav-bar__logo {
    margin-left: 2.25rem;
    margin-bottom: 1rem;
  }
}
.nav-bar__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .nav-bar__list {
    width: auto;
    margin-top: 1rem;
  }
}
.nav-bar__link {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0, auto;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav-bar__link {
    font-size: 0.65rem;
    padding-bottom: 1rem;
    margin-left: 3rem;
  }
}
.nav-bar__link:active {
  color: #ffffff;
  font-weight: 600;
  border-bottom: 0.25rem solid #ffffff;
}
.nav-bar__link:hover {
  color: #ffffff;
  border-bottom: 0.25rem solid #ffffff;
}

.footer__container {
  background-color: #323232;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding-left: 5.438rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__tblt-dt {
    display: flex;
  }
}
.footer__card {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__card {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .footer__card {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__card {
    flex-direction: row;
    position: relative;
  }
}
.footer__card--cam {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__card--cam {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .footer__card--cam {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__card--cam {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
  }
}
.footer__card--pearl {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__card--pearl {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .footer__card--pearl {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__card--pearl {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 3rem;
  }
}
.footer__card--carson {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__card--carson {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .footer__card--carson {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__card--carson {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}
.footer__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .footer__header {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.footer__icons {
  display: inline-flex;
  width: 45%;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    height: 100%;
    margin-top: 4rem;
    margin-left: 2rem;
  }
}
.footer__icons--link {
  margin-right: 2rem;
}
.footer__contact {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 600;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    font-weight: 600;
    padding-top: 0;
  }
}
.footer__email {
  text-decoration: none;
  color: inherit;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__email--last {
  text-decoration: none;
  color: inherit;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 4rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__email--last {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__email--last {
    padding-bottom: 1rem;
  }
}
.footer__contact--info-adr {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 10rem;
}
@media screen and (min-width: 768px) {
  .footer__contact--info-adr {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--info-adr {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--info-adr {
    width: 12rem;
  }
}
.footer__contact--info {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__contact--info {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
.footer__contact--info-job {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__contact--info-job {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__contact--info-area {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__contact--info-area {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__logo {
  margin: 0 1rem;
  height: 1.25rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .footer__logo {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo--tblt-dt {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--tblt-dt {
    display: flex;
    text-decoration: none;
    font-size: 1.25rem;
    color: #ffffff;
    position: absolute;
    top: 4rem;
    right: 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--tblt-dt {
    right: 6rem;
  }
}
.footer__copyright {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .footer__copyright {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

.divider {
  border-top: 1px solid #e1e1e1;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .divider {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .divider {
    margin: 0 auto;
  }
}

.divider-first {
  border-top: 1px solid #e1e1e1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .divider-first {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .divider-first {
    margin: 0 auto;
  }
}

.hero__image {
  background-image: url(../assets/images/hero-shows.jpg);
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__image {
    height: 55vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    height: 45vw;
  }
}
.hero__text-box {
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__text-box {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text-box {
    padding-top: 0;
    margin: auto 5.438rem;
  }
}
.hero__text {
  width: 15rem;
  color: #ffffff;
  margin: 0 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .hero__text {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
.hero__text--album {
  color: #ffffff;
  margin: 0 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__text--album {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .hero__text--album {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__text--album {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .hero__text--album {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.hero__music {
  margin: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 86%;
  height: 35vh;
}
@media screen and (min-width: 768px) {
  .hero__music {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .hero__music {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__music {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
.hero__overlay {
  width: 100vw;
  height: 70vh;
  background: #323232;
  opacity: 0.5;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    height: 55vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    height: 45vw;
  }
}

.shows__header {
  margin: 0 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__header {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280x) {
  .shows__header {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}/*# sourceMappingURL=shows.css.map */