@use "./partials/reset" as *;
@use "./partials/global" as *;
@use "./partials/font" as *;
@use "./partials/colors" as *;
@use "./partials/layout" as *;

.hero {
  &__image {
    background-image: url(../assets/images/hero-bio.jpg);
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    @media screen and (min-width: 768px) {
      height: 55vw;
    }
    @media screen and (min-width: 1280px) {
      height: 45vw;
    }
  }
  &__text-box {
    position: relative;
    @media screen and (min-width: 768px) {
      padding-top: 3rem;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 0;
      margin: auto 5.438rem;
    }
  }
  &__text {
    color: $white;
    @include layout;
    @include page-header;
  }
  &__overlay {
    width: 100vw;
    height: 50vh;
    background: $bandsite-black;
    opacity: 0.5;
    position: absolute;
    @media screen and (min-width: 768px) {
      height: 55vw;
    }
    @media screen and (min-width: 1280px) {
      height: 45vw;
    }
  }
}
