@use "./partials/reset" as *;
@use "./partials/global" as *;
@use "./partials/font" as *;
@use "./partials/colors" as *;
@use "./partials/layout" as *;

.hero {
  &__image {
    background-image: url(../assets/images/hero-shows.jpg);
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    position: relative;
    @media screen and (min-width: 768px) {
      height: 55vw;
    }
    @media screen and (min-width: 1280px) {
      height: 45vw;
    }
  }
  &__text-box {
    position: relative;
    @media screen and (min-width: 768px) {
      padding-top: 3rem;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 0;
      margin: auto 5.438rem;
    }
  }
  &__text {
    width: 15rem;
    color: $white;
    @include layout;
    @include page-header;
    &--album {
      color: $white;
      @include layout;
      @include subheader;
      @include padding-headline;
    }
  }
  &__music {
    @include layout;
    @include padding-component;
    width: 90%;
    height: 35vh;
  }
  &__overlay {
    width: 100vw;
    height: 70vh;
    background: $bandsite-black;
    opacity: 0.5;
    position: absolute;
    @media screen and (min-width: 768px) {
      height: 55vw;
    }
    @media screen and (min-width: 1280px) {
      height: 45vw;
    }
  }
}

.shows {
  &__main {
    color: $bandsite-black;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  &__header {
    @include layout;
    @include section-header;
    @include padding-headline;
  }

  &__individual {
    @include layout;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:hover {
      background-color: $alabaster;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__list-date {
    color: $silver;
    @include body-copy;
    font-weight: 600;
    padding-bottom: 0.5rem;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__list-date--info {
    font-weight: 600;
    padding-bottom: 1rem;
  }

  &__list-venue {
    color: $silver;
    @include body-copy;
    font-weight: 600;
    padding-bottom: 0.5rem;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__list-venue--info {
    padding-bottom: 1rem;
  }

  &__list-location {
    color: $silver;
    @include body-copy;
    font-weight: 600;
    padding-bottom: 0.5rem;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__list-location--info {
    padding-bottom: 1.5rem;
  }

  &__button {
    background: $bandsite-black;
    color: $white;
    font-weight: 600;
    text-decoration: none;
    padding: 0.75rem 3rem 0.75rem 3rem;
    text-align: center;
    border-radius: 4px;
    &:hover {
      background: $bandsite-darkblack;
    }
  }

  &__divider {
    border-top: 1px solid $mercury;
    display: flex;
  }

  &__list-tblt {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      list-style: none;
    }
    &--date {
      color: $silver;
      font-weight: 600;
    }
    &--venue {
      color: $silver;
      font-weight: 600;
    }
    &--location {
      color: $silver;
      font-weight: 600;
    }
  }
}
